{% load i18n %}{% autoescape off %}
{% blocktrans %}Hey, You're receiving this email because you requested a password reset for your user NetView account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following link and create a new password:" %}

<!-- 2 -->

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}


{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using NetView" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}