{% extends 'loginbase.html' %}
{% block content %}

<!-- 1 -->

<h2 id="rec" style="text-align: start; font-weight: 500; font-size: 26px; margin-left: 30px; margin-top: 23px;">Password recovery</h2>
<p class="retr1">Enter the email address associated with your NetView account.</p>
<center><form method="post" class="posta1">
    {% csrf_token %}
    <div class="field">
    {{ form.as_p }}</div>
    <button type="submit" id="but12" class="submit-btn">Procced</button>
</form></center>

{% endblock %}


