<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="css/font-awesome.css">

    <link rel="stylesheet" href="../static/css/user_info.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Front_end</title>
  </head>
  <body>
    <div id="page" class="site page-single">
    <aside class="site-off desktop-hide">
        <div class="off-canvas">
            <div class="canvas-head flexitem">
                <div class="logo"><a href="#"><img src="../static/img/assets/logo/logo2.png"></a>
            </div>
                <a href="#" class="t-close flexcenter"><i class="ri-close-line"></i></a>
                
            </div>
            <div class="departments"></div>
            <nav></nav>
            <div class="thetop-nav"></div>
        </div>
    </aside>

        <header>
          <div class="header-top mobile-hide">
            <div class="container">
                <div class="wrapper flexitem">
                    <div class="left">
                        <ul class="flexitem main-links">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Featured products</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <ul class="flexitem main-links">
                            <li>
                                Hi, 
                                {% if request.user.is_authenticated %} 
                                {{request.user}}
                                {% else %}
                                <a href="/login">Sign In</a>
                                {% endif %}
                        </li>
                        <li class="has-child">
                            <a href="myprofile">My Account</a>
                                
                                    
                                    <ul class="submenu" style="height: auto; z-index: 9999; width:260px">
                                      <div style="padding-top:20px; padding-left:90px; border:none; border:.5px solid orange; border-radius:5px; ">
                                        <p style="text-decoration:underline; font-size:1.2em;">Your Account</p>
                                        <li><a href="myprofile">Account</a></li>
                                        <li><a href="">Bids&Offers</a></li>
                                        <li><a href="">Hidden Tokens</a></li>
                                        <li><a href="">Recommendations</a></li>
                                        <li><a href="">Newsletter Subscription</a></li>
                                        <li><a href="">Sign Out</a></li>
                                      </div>
                                    </ul>
                            
                        </li>
                                <li><a href="#">Merchandise Tracking</a></li>
                                <li><a href="#">English <span class="icon-small"><i class="ri-arrow-down-line"></i></span></a>
                                    <ul>
                                        <li class="current"><a href="#">English</a></li>
                                        <li><a href="#">Swahili</a></li>
                                    </ul> 
                                </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>  
        <!--header-top-->
        <div class="header-nav">
            <div class="container">
                <div class="wrapper flexitem">
                    <a href="#" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                    <div class="left flexitem">
                        <div class="logo"><a href="#"><img src="../static/img/assets/logo/logo2.png"></a>
                        </div>
                        <nav class="mobile-hide">
                            <ul class="flexitem second-links">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Bid Shop</a></li>
                                <li class="has-child">
                                    <a href="#">Electronics
                                        <div class="icon-small"><i class="ri-arrow-down-s- line"></i></div>
                                    </a>
                                    <div class="mega">
                                        <div class="container">
                                            <div class="wrapper">
                                                <div class="flexcol">
                                                    <div class="row">
                                                        <h4>Household Electronics</h4>
                                                        <ul>
                                                            <li><a href="#">Flat screens</a></li>
                                                            <li><a href="#">Sound Systems</a></li>
                                                            <li><a href="#">Fridges & Microwaves</a></li>
                                                            <li><a href="#">Cookers & Heaters</a></li>
                                                            <li><a href="#">Laundry Equips'</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="flexcol">
                                                    <div class="row">
                                                        <h4>Office Electronics</h4>
                                                        <ul>
                                                            <li><a href="#">Computers & Accessories</a></li>
                                                            <li><a href="#">Laptops</a></li>
                                                            <li><a href="#">Coolers & Heaters</a></li>
                                                            <li><a href="#">Office cleaners</a></li>
                                                            <li><a href="#"></a>later</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="flexcol">
                                                    <div class="row">
                                                        <h4>Outdoor Electronics</h4>
                                                        <ul>
                                                            <li><a href="#">Cameras</a></li>
                                                            <li><a href="#"></a>Water pumps & Generators</li>
                                                            <li><a href="#"></a>Grass cutters</li>
                                                            <li><a href="#"></a></li>
                                                            <li><a href="#">Later</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="flexcol">
                                                    <div class="row">
                                                        <h4>Others</h4>
                                                        <ul class="women-brands">
                                                            <li><a href="#"></a>Aviator</li>
                                                            <li><a href="#"></a>Aviator</li>
                                                            <li><a href="#"></a>Later</li>
                                                            <li><a href="#"></a>Later</li>
                                                            <li><a href="#">Later</a></li>
                                                        </ul>
                                                        <a href="#" class="view-all">view all brands <i class="ri-arrow-right-line"></i></a>
                                                    </div>
                                                </div>
                                                <div class="flexcol products">
                                                    <div class="row">
                                                        <div class="media">
                                                            <div class="thumbnails object-cover">
                                                              <a href="#">
                                                                <img src="assets/products/apparel4.jpg" alt="">
                                                              </a>
                                                            </div>
                                                        </a>
                                                        <div class="text-content">
                                                            <h4>Most Wanted!</h4>
                                                            <a href="#" class="primary-button">Bid Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Office</a></li>
                                <li>
                                    <a href="#">Furniture
                                       <div class="fly-item"><span>New!</span></div>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="right">
                        <ul class="flexitem second-links">
                            <li class="mobile-hide"><a href="#">
                                <div class="icon-larger"><i class="ri-heart-line"></i></div>
                                <div class="fly-item"><span class="item-number">0</span></div>
                            </a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-main mobile-hide">
            <div class="container">
                <div class="wrapper flexitem">
                    <div class="left">
                        <div class="dpt-cat">
                            <div class="dpt-head">
                                <div class="main-text">All Categories</div>
                                <div class="mini-text mobile-hide">Around 20 products</div>
                                <a href="#" class="dpt-trigger mobile-hide">
                                    <i class="ri-menu-3-line ri-xl"></i>
                                    <i class="ri-close-line ri-xl"> </i>
                                </a>
                            </div>
                            <div class="dpt-menu">
                                <ul class="second-links">
                                    <li class="has-child electro">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-bluetooth-connect-line"></i></div>
                                            Electronics
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li><a href="#">Flat Tvs'</a></li>
                                            <li><a href="#">Fridges&Microwaves</a></li>
                                            <li><a href="#">Sound systems</a></li>
                                            <li><a href="#">Coolers&Heaters</a></li>
                                            <li><a href="#">Clean Up' appliances</a></li>

                                        </ul>
                                    </li>
                                    <li class="has-child furniture">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-hotel-bed-line"></i></div>
                                            Furniture
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li><a href="">Furnitudsns'</a></li>
                                            <li><a href="">Fridges&Microwaves</a></li>
                                            <li><a href="">Sound systems</a></li>
                                            <li><a href="">Coolers&Heaters</a></li>
                                            <li><a href="">Clean Up' appliances</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child estates">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-home-heart-line"></i></div>
                                            Real Estates
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li><a href="">supreme court</a></li>
                                            <li><a href="">Fridges&Microwaves</a></li>
                                            <li><a href="">Sound systems</a></li>
                                            <li><a href="">Coolers&Heaters</a></li>
                                            <li><a href="">Clean Up' appliances</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-home-heart-line"></i></div>
                                            Mens Fashion
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        
                                    </li>
                                    <li class="has-child shambas">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-landscape-line"></i></div>
                                            Shambas
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>

                                        <div class="mega">
                                            <div class="flexcol">
                                               <div class="row">
                                                    <h4><a href="#">Prime Plots</a></h4>
                                                    <ul>
                                                        <li><a href="#">Nairobi</a></li>
                                                        <li><a href="#">Kisumu</a></li>
                                                        <li><a href="#">Mombasa</a></li>
                                                        <li><a href="#">Kiambu</a></li>
                                                        <li><a href="#">Kajiado</a></li>
                                                    </ul>
                                                </div>
                                                <div class="row">
                                                    <h4><a href="#">All Around</a></h4>
                                                    <ul>
                                                        <li><a href="#">Private</a></li>
                                                        <li><a href="#">County owned </a></li>
                                                        <li><a href="#">G.O.K Owned</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="flexcol">
                                                <div class="row">
                                                     <h4><a href="#">Bed & Bath</a></h4>
                                                     <ul>
                                                         <li><a href="#">Bathroom</a></li>
                                                         <li><a href="#">Powder Room</a></li>
                                                         <li><a href="#">Bedroom</a></li>
                                                         <li><a href="#">Storage & Closet</a></li>
                                                         <li><a href="#">Baby & Kids</a></li>
                                                     </ul>
                                                 </div>
                                                 <div class="row">
                                                     <h4><a href="#">Utility</a></h4>
                                                     <ul>
                                                         <li><a href="#">Laundry</a></li>
                                                         <li><a href="#">Garage</a></li>
                                                         <li><a href="#">Mudroom</a></li>
                                                     </ul>
                                                 </div>
                                             </div>
                                        </div>
                                        
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-home-heart-line"></i></div>
                                            Girls Fashion
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-home-heart-line"></i></div>
                                            Health & Household
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="search-box">
                            <form action="" class="search">
                                <span class="icon-large"><i class="ri-search-line"></i></span>
                                <input type="search" placeholder="Search Netview">
                                <button type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </header>
        <!--header-->
        
        <!--sub product-->
        <div class="container light-style flex-grow-1 container-p-y" style="margin-top: 70px; margin-bottom: 70px;">
            <h3 class="font-weight-bold py-3 mb-4" style="font-size: 1.5em; color: #088179;">
                Account settings
            </h3>
            <div class="card overflow-hidden">
                <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-3 pt-0">
                        {% if msz %}
                        <div class="alert alert-warning mt-3">
                            {{msz}}<br>
                            <a href="javascript:void(0)" style="color: #088179;">Resend confirmation</a>
                        </div>
                        {% endif %}
                        <div class="list-group list-group-flush account-settings-links">
                            <a class="list-group-item list-group-item-action active" data-toggle="list"
                                href="#account-general">General</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-change-password">Change password</a>
                            <a class="list-group-item list-group-item-action"
                                href="log">View Logs</a>
                            <a class="list-group-item list-group-item-action"
                                href="items/additem">Upload an Item in your bid bucket</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-info">Info</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-social-links">Social links</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-connections">Connections</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-notifications">Notifications</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="account-general">
                                <div class="card-body media align-items-center">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt
                                        class="d-block ui-w-80">
                                    <div class="media-body ml-4">
                                        <label class="btn btn-outline-primary">
                                            Upload new photo
                                            <input type="file" class="account-settings-fileinput">
                                        </label> &nbsp;
                                        <button type="button" class="btn btn-default md-btn-flat">Reset</button>
                                        <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-label">Username</label>
                                        <input type="text" class="form-control mb-1" placeholder="{{details.username}}" style="font-size: .84em;">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Name</label>
                                        <input type="text" class="form-control" placeholder="{{details.first_name}} {{details.last_name}}"style="font-size: .92em;" >
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Contact no</label>
                                        <input type="text" class="form-control" placeholder="{{contact}}"style="font-size: .92em;" >
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">E-mail</label>
                                        <input type="text" class="form-control mb-1" placeholder="{{details.email}}" style="font-size: .92em;">
                                        <div class="alert alert-warning mt-3">
                                            Your email is not confirmed. Please check your inbox.<br>
                                            <a href="javascript:void(0)" style="color: #088179;">Resend confirmation</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Company</label>
                                        <input type="text" class="form-control" value="Company Ltd.">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-change-password">
                                <div class="card-body pb-2">
                                    <form id="form_reset" method="POST" action="../pass_reset">{% csrf_token %}
                                        <div class="form-group">
                                            <label class="form-label">Current password</label>
                                            <input type="password" class="form-control" name="old_password">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">New password</label>
                                            <input type="password" class="form-control" id="pas" name="new_password1" onkeyup="check_pass()">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Repeat new password</label>
                                            <input type="password" class="form-control" id="cpas" name="new_password2">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="reset_btn" value="Save changes" id="sbbtn">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-info">
                                <div class="card-body pb-2">
                                    <div class="form-group">
                                        <label class="form-label">Birth-date</label>
                                        <input type="text" class="form-control" placeholder="May 3, 1995">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Country</label>
                                        <select class="custom-select">
                                            <option>Uganda</option>
                                            <option selected>Kenya</option>
                                            <option>Tanzania</option>
                                            <option>Rwanda</option>
                                            <option>Burundi</option>
                                        </select>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body pb-2">
                                    <h6 class="mb-4">Contacts</h6>
                                    <div class="form-group">
                                        <label class="form-label">Phone</label>
                                        <input type="text" class="form-control" placeholder="+254 0(7)22888543">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Website</label>
                                        <input type="text" class="form-control" value>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-social-links">
                                <div class="card-body pb-2">
                                    <div class="form-group">
                                        <label class="form-label">Twitter</label>
                                        <input type="text" class="form-control" value="https://twitter.com/user">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Facebook</label>
                                        <input type="text" class="form-control" value="https://www.facebook.com/user">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Google+</label>
                                        <input type="text" class="form-control" value>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">LinkedIn</label>
                                        <input type="text" class="form-control" value>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Instagram</label>
                                        <input type="text" class="form-control" value="https://www.instagram.com/user">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-connections">
                                <div class="card-body">
                                    <button type="button" class="btn btn-twitter">Connect to
                                        <strong>Twitter</strong></button>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <h5 class="mb-2">
                                        <a href="javascript:void(0)" class="float-right text-muted text-tiny"><i
                                                class="ion ion-md-close"></i> Remove</a>
                                        <i class="ion ion-logo-google text-google"></i>
                                        You are connected to Google:
                                    </h5>
                                    <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                        data-cfemail="f9979498818e9c9595b994989095d79a9694">[email&#160;protected]</a>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <button type="button" class="btn btn-facebook">Connect to
                                        <strong>Facebook</strong></button>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <button type="button" class="btn btn-instagram">Connect to
                                        <strong>Instagram</strong></button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-notifications">
                                <div class="card-body pb-2">
                                    <h6 class="mb-4">Activity</h6>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input" checked>
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Email me when someone comments on my article</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input" checked>
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Email me when someone answers on my forum
                                                thread</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input">
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Email me when someone follows me</span>
                                        </label>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body pb-2">
                                    <h6 class="mb-4">Application</h6>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input" checked>
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">News and announcements</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input">
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Weekly product updates</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input" checked>
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Weekly blog digest</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right mt-3">
                <!--<button><input form="form_reset" type="submit" class="reset_btn" value="Rrst_Btn"></button>
                <button type="button" form="form_reset" class="btn btn-primary">Save changes</button>&nbsp;-->
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
        <!--banner-->
        
        
        <!--main-->

        <footer class="section-p1">
            <div class="flex-foot">
                <div class="col-fl col1">
                    <img src="../static/img/assets/logo/logo2.png" alt="">
                    <h4>Contact</h4>
                    <p><span>Address: </span>Luthuli Road, Lane 4, Nairobi</p>
                    <p><span>Phone:</span> +25472288543 /(+25700225481)</p>
                    <p><span>Hours:</span>0800hrs - 1700hrs, Mon - Sat</p>
                    <div class="follow">
                        <h4>Follow Us</h4>
                        <div class="icon">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-pinterest-p"></i>
                            <i class="fab fa-youtube"></i>
        
                        </div>
        
                    </div>
                </div>
                <div class="col-fl dow">
                    <h4>My Account</h4>
                    <a href="logout">logout</a>

                    <a href="/login">Sign in</a>

                    <a href="#">Track my mechandise</a>
                    <a href="#">Help</a>
        
                </div>
                <div class="col-fl install">
                    <h4>Install App</h4>
                    <p>From App Store or From Google Play</p>
                    <div class="row">
                        <img src="../static/img/assets/logo/google-play.png" alt="app store" style="width: 150px;height: 120px; margin-left: 45px;" class="goo">
                        <img src="../static/img/assets/logo/app-store.png" alt="play google" style="width: 130px; margin-left: 55px;">
                    </div>
        
                </div>
        </div>
            <div class="copyright">
                <p style="color: whitesmoke;"> Copyright @ 2023, NetView All rights Reserved</p>
            </div>
    
        </footer>
        <!--footer-->

        <div class="menu-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">
                    <nav>
                        <ul class="flexitem">
                            <li>
                                <a href="#">
                                    <i class="ri-bar-chart-line"></i>
                                    <span>Trending</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ri-user-6-line"></i>
                                    <span>Account</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ri-heart-line"></i>
                                    <span>Wishlist</span>
                                </a>
                            </li>
                            <li>
                                <a href="#0" class="t-search">
                                    <i class="ri-search-line"></i>
                                    <span>Search</span>
                                </a>
                            </li>
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">
                    <form action="" class="search">
                        <a href="#0" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                        <span class="icon-large"><i class="ri-search-line"></i></span>
                        <input type="search" placeholder="Search NetView">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        
    </h4>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="../static/js/script.js"></script>
    <script>
        function clickimg(smallImg){
            var fullImg = document.getElementById("imagebox");
            fullImg.src = smallImg.src
        }

        function check_pass(){
            let p = $("#pas").val();
            let cp = $("#cpas").val();

            if(cp==p){
                $("#pas").css("border","1px solid green")
                $("#cpas").css("border","1px solid green")

                $("#pas").removeClass("alert alert-danger").addClass("alert alert-success")
                $("#cpas").removeClass("alert alert-danger").addClass("alert alert-success")

                $("#sbbtn").removeAttr("disabled")
            }
            else{
                $("#pas").css("border","1px solid red")
                $("#cpas").css("border","1px solid red")
                
                $("#pas").removeClass("alert alert-success").addClass("alert alert-danger")
                $("#pas").removeClass("alert alert-success").addClass("alert alert-danger")

                $("#sbbtn").attr("disabled","disabled")
            }

        }
    </script>
    
    
</body>
</html>