{% extends 'header_1.html' %}
{% block content %}
<center>
<div class="search-dat">
    {% if items %}
    <h2>Results</h2>
    <p style="color: grey; font-weight: 800;">Price varies according to product details</p>
<section id="product1" class="section-p1">
    <div class="pro-container">
{% for i in items%}
        <div class="pro">
            <a href="items/prod?id={{i.id}}"><img src="{{i.profile.url}}" style="width: 260px;"></a>
            <div class="des">
                <span>{{i.tag}}</span>
                <h5>{{i.name}}</h5>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>Current price : <font color="orange">{{i.currentPrice}}</font></h4>

            </div>

        </div>
{% endfor %}

    </div>
    

</section>
 
<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa-solid fa-arrow-right-long"></i></a>

</section>
{% elif searched %}
     <h3 style="color: grey; font-weight: 900;">No results for {{searched}}.</h3>
     <p style="color: grey; font-weight: 800;">Check your spellings or Use more verbose terms</p>

{% endif %}
</div>
</center>
    
{% endblock %}